
table, thead, tbody, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

#root_edition #scenario_info_panel textarea[name=scenario_informations] {
    width: 95%;
    height: 400px;
}

/* Personnages */

#character_list_tbody tr td,
.character_list_info_panel tr td{
    min-width: 100px;
    padding: 10px;
    vertical-align: top;
}
#character_list_tbody tr td:nth-child(1),
.character_list_info_panel tr td:nth-child(1) {
    min-width: inherit;
    width: inherit;
    padding: inherit;
}
td.character_role ul, td.character_info ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
#character_list_tbody td.character_role input.additionnal_field {
    width: 250px;
}

/* Incidents */
#incident_list_tbody tr td,
.incident_list_info_panel tr td {
    min-width: 100px;
    padding: 10px;
}
#incident_list_tbody tr td:nth-child(1),
.incident_list_info_panel tr td:nth-child(1) {
    min-width: 0px;
}

/* Cards */
.card {
    width: 100px;
    height: 140px;
    background-size: contain;
}
.card_image_container {
    
}
.card_lyceen {
    background-image: url("../images/Cartes/Card_Lyceen.jpg");
}
.card_lyceenne {
    background-image: url("../images/Cartes/Card_Lyceenne.jpg");
}
.card_riche_heritiere {
    background-image: url("../images/Cartes/Card_RicheHeritiere.jpg");
}
.card_deleguee_de_classe {
    background-image: url("../images/Cartes/Card_DelegueeDeClasse.jpg");
}
.card_garcon_mysterieux {
    background-image: url("../images/Cartes/Card_GarconMysterieux.jpg");
}
.card_gardienne_du_sanctuaire {
    background-image: url("../images/Cartes/Card_Gardienne_du_sanctuaire.jpg");
}
.card_extraterrestre {
    background-image: url("../images/Cartes/Card_Extraterrestre.jpg");
}
.card_etre_divin {
    background-image: url("../images/Cartes/Card_EtreDivin.jpg");
}
.card_policier {
    background-image: url("../images/Cartes/Card_Policier.jpg");
}
.card_employe_de_bureau {
    background-image: url("../images/Cartes/Card_Employe_de_bureau.jpg");
}
.card_informatrice {
    background-image: url("../images/Cartes/Card_Informatrice.jpg");
}
.card_pop_star {
    background-image: url("../images/Cartes/Card_PopStar.jpg");
}
.card_journaliste {
    background-image: url("../images/Cartes/Card_Journaliste.jpg");
}
.card_boss {
    background-image: url("../images/Cartes/Card_Boss.jpg");
}
.card_medecin {
    background-image: url("../images/Cartes/Card_Medecin.jpg");
}
.card_patient {
    background-image: url("../images/Cartes/Card_Patient.jpg");
}
.card_infirmiere {
    background-image: url("../images/Cartes/Card_Infirmiere.jpg");
}
.card_sbire {
    background-image: url("../images/Cartes/Card_Sbire.jpg");
}
.card_scientifique {
    background-image: url("../images/Cartes/Card_Scientifique.png");
}
.card_legiste {
    background-image: url("../images/Cartes/Card_Legiste.png");
}
.card_intelligence_artificielle {
    background-image: url("../images/Cartes/Card_IntelligenceArtificielle.png");
}
.card_illusion {
    background-image: url("../images/Cartes/Card_Illusion.png");
}
.card_enseignante {
    background-image: url("../images/Cartes/Card_Enseignante.png");
}
.card_etudiante_transferee {
    background-image: url("../images/Cartes/Card_EtudianteTransferee.png");
}
.card_soldat {
    background-image: url("../images/Cartes/Card_Soldat.png");
}
.card_chat_noir {
    background-image: url("../images/Cartes/Card_ChatNoir.png");
}
.card_petite_fille {
    background-image: url("../images/Cartes/Card_PetiteFille.jpg");
}

/* Vérifications */

.invalid {
    text-color: white;
    background-color: red;
}
.valid {
    background-color: lightgreen;
}

/* Affichage pour impression */

#root_display {
    display: none;
    min-height: 100px;
}
#root_display:hover {
    background-color: lightgray;
}
#root_display_template {
    display: none;
}

